*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline:none;
}
img{
    display: block;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{zoom:1;}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fn{
    float:none;
}
img {
    display: block;
}